@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #984D02, #FE8103 85.61%);
}